/* CSS for the "footer" section */

/* section init */
footer {
	background-color: #333;
	color: #777;
	text-align: center;
}
@media (min-width: 991px) {
	footer {
		text-align: left;
	}
}
footer #Footer__socket, footer #Footer__footer {
	padding: 2em 0;
}
footer [class^=col-]:not(:last-child) {
	margin-bottom: 2em;
}
@media (min-width: 991px) {
	footer [class^=col-]:not(:last-child) {
		margin-bottom: 0;
	}
}
footer ul {
	padding: 0;
}
footer ul li {
	list-style: none;
}
footer a {
	color: #777;
}
footer a:hover, footer a:focus {
	color: white;
	text-decoration: none;
}
footer h5 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

/* Logo */
footer #Footer__socket img {
	max-width: 30%;
}
@media (min-width: 991px) {
	footer #Footer__socket img {
		max-width: 50%;
	}
}

/* Social networks */
footer ul#Networks {
	display: flex;
	justify-content: center;
}
@media (min-width: 991px) {
	footer ul#Networks {
		justify-content: flex-start;
	}
}
footer ul#Networks li:not(:first-child) a {
	margin-left: 1em;
}
footer ul#Networks li a svg {
	font-size: 1.4em;
}